.header{
  background-color: greenyellow;
  height: 50px;
  grid-area: header;
  /*justify-content: center;*/
  /*align-content: center;*/
  text-align: center;
}
.footer{
  background-color: greenyellow;
  height: 50px;
  grid-area: footer;
  text-align: right;
}
.panel{
  height: 100%;
  background-color: #fee79c;
  grid-area: panel;
}
.notes-list{
  background-color: #b0f4fe;
  grid-area: notes;
  /*display: grid;*/
  /*grid-template-columns: repeat(4, minmax(0, 1fr));*/
  /*grid-auto-columns: minmax(0, 1fr);*/
  /*grid-auto-flow: column;*/
  /*column-gap: 10px;*/
  /*row-gap: 10px;*/
  /*padding: 5px;*/

}

.container{

  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header header"
    "panel notes"
    "footer footer";
}

/*.notes-container{*/
/*  display: grid;*/
/*  grid-template-columns: repeat(4, minmax(0, 1fr));*/
/*  grid-template-rows: auto;*/
/*  !*grid-auto-columns: minmax(0, 1fr);*!*/
/*  !*grid-auto-flow: column;*!*/
/*  column-gap: 10px;*/
/*  row-gap: 10px;*/
/*  padding: 5px;*/
/*}*/
